.card-body:hover {
  background-color: #f8f9fa; /* Color de fondo al pasar el ratón */
  color: #345fa0;           /* Color del texto */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* Sombra elegante */
  cursor: pointer;          /* Cambia el cursor a una manito */
  border-radius: 15px;
}