.component{
    display: flex;
    width: 100%;
    background-color: lightgrey;
}

 nav,
    .offcanvas {
      background-color: #1e293b;
    }
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }

@media (max-width: 768px) {
  .encabezado_titulo {
    font-size: 22px;
  }

  .navbar-nav > li:hover {
    background-color: #0dcaf0;
  }

  .navbar-nav > li:hover .nav-link {
    color: #1e293b;
  }
}
.encabezado_titulo{
    color: white;
    margin-left: 2%;
    font-size:35px;
    color: white;
    
    padding: 1% 0%;
}