.component {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: lightgrey;
}

.main-content {
  width: 100%;
  display: block;
}

nav,
.offcanvas {
  background-color: #1e293b;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.encabezado_titulo {
  color: white;
  margin-left: 2%;
  font-size: 35px;
  padding: 1% 0%;
}

.nav-link.active,
.nav-link:hover {
  color: #0dcaf0;
}

@media (max-width: 768px) {
  .encabezado_titulo {
    font-size: 22px;
  }

  .navbar-nav > li:hover {
    background-color: #0dcaf0;
  }

  .navbar-nav > li:hover .nav-link {
    color: #1e293b;
  }
}
