# Dependencies
node_modules/
docs/
# Environment variables
.env
.env.*
!.env.example
# Compiled output
dist/
tmp/
out-tsc/
bazel-out/
# Angular
.angular/cache/
frontend/.angular/
# Logs
logs/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
frontend/.vscode/
# Local test output
backend/start-test.*
backend/server-check.*
# Miscellaneous
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings/
# System files
.DS_Store
Thumbs.db
