# Opcion local, requiere MongoDB instalado y ejecutandose en la PC.
MONGODB_URI=mongodb://127.0.0.1:27017/proyecto3

# Opcion Atlas, reemplazar usuario, password y cluster.
# MONGODB_URI=mongodb+srv://usuario:password@cluster0.xxxxx.mongodb.net/proyecto3

PORT=3000
