<div class="fondo">
  <div class="formulario-detalle">
        <h5>{{tarea.titulo}}</h5>
        <p>{{tarea.descripcion}}</p>
        <p>Prioridad: {{tarea.nivel_prioridad || 'Baja'}}</p>
        <p>{{tarea.estado}}</p>
    <button (click)="modificar(tarea.id)">Modificar</button>
    <button (click)="eliminar(tarea.id)">Eliminar</button>
</div>

  <div *ngIf="mostrarModalExito" class="modal fade show d-block" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Tarea eliminada</h5>
        </div>

        <div class="modal-body">
          <div class="alert alert-success mb-0" role="alert">
            {{ mensajeExito }}
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="irAListaTareas()">
            Ir a lista de tareas
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mostrarModalExito" class="modal-backdrop fade show"></div>
</div>
